<a href="<%= user_path(user) %>">
  <div class="user" style="animation-delay: <%= delay * 0.3 %>s;">
    <span class="place">
      <%= place %>
    </span>
    <span class="avatar">
      <%= render partial: "avatar", locals: {user: user}  %>
    </span>
    <span class="username">
      <%= user.name %>
    </span>
    <span class="user-points">
      <%= points %>p
    </span>
  </div>
</a>