<turbo-frame id="turbo-scoreboard">
  <div class="container">
    <div class="podium-container">
      <div class="podium">
        <% users.first(3).each do |user| %>
          <%= render partial: "avatar", locals: {user: user}  %>
        <% end %>
        <div class="third">3</div>
        <div class="first">1</div>
        <div class="second">2</div>
      </div>
    </div>
    <div class="score-board">
    <div class="button-container">
    <%= link_to "All Time", "/users", method: :get, class:"sort-button" %>
    <%= link_to "Week", "/users?start_date=#{Date.today.beginning_of_week.to_s}&end_date=#{Date.today.end_of_week.to_s}", method: :get, class:"sort-button" %>
    <%= link_to "Month", "/users?start_date=#{Date.today.beginning_of_month.to_s}&end_date=#{Date.today.end_of_month.to_s}", method: :get, class:"sort-button" %>
    </div>
      <hr>
      <% users.each_with_index do |user, index| %>
        <%= render partial: "score", locals: { user: user, place: index + 1 } %>
      <% end %>
    </div>
  </div>
</turbo-frame>