<div class="container">
  <div class="user-card">
    <h1 class="username"><%= @user.name %></h1>
    <div class="avatar"><%= image_tag @user.avatar_url %></div>
    <span class="total-points">Total points: <%= @user.points %></span>
    <span class="total-tasks">Total tasks done: <%= @user.task_records.count %></span>
    <span class="score-place">Place: <%= link_to @user.place.ordinalize, users_path %></span>
    <%= column_chart(@chart_hash, colors: ["rgb(202, 0, 0)"]) %>
  </div>
  <h3>All of <%= @user.name %>'s done tasks:</h3>
  <turbo-frame id="turbo-task-records" src="<%= params[:id] %>/task_records">
    Loading...
  </turbo-frame>
</div>