<turbo-frame id="turbo-week">
  <% flash.each do |type, msg| %>
    <div id="msg" class="<%= type %>" data-controller="flash" data-flash-target="flash">
      <%= msg %>
      <span onclick="document.getElementById('msg').remove()">x</span>
    </div>
  <% end %>
  <div class="container" data-controller="modal input">
    <%= render "week", selected_date: selected_date %>
    <%= form_with url: "/task_records", method: :post, id: "new-form" do |f| %>
      <%= f.hidden_field :selected_date, value: selected_date %>
      <%= f.hidden_field :task, data: { input_target: "output" } %>
      <%= render partial: "users_modal", locals: {:users => @users} %>
      <div class="task-list">
        <% tasks.each do |task| %>
          <%= render partial: "task_button", :locals => { :task => task, :selected_date => selected_date } %>
        <% end %>
      </div>
    <% end %>
    <%= render partial: "users/badge", locals: { user: user_of_last_month(@users), title: "Best of last month:", points: user_of_last_month(@users).points_last_month, badge_class: "month" } %>
    <%= render partial: "users/badge", locals: { user: user_of_last_week(@users), title: "Best of last week:", points: user_of_last_week(@users).points_last_week, badge_class: "week" } %>
  </div>
</turbo-frame>