<turbo-frame id="turbo-week">
  <% flash.each do |type, msg| %>
    <div id="msg" class="<%= type %>">
      <%= msg %>
      <span onclick="document.getElementById('msg').remove()">x</span>
    </div>
  <% end %>
  <div class="container" data-controller="modal">
    <%= render "week", selected_date: selected_date %>
    <%= form_with url: "/task_records", method: :post, id: "new-form" do |f| %>
      <%= f.hidden_field :selected_date, value: selected_date %>
      <button class="users-button" type="button" data-modal-target="opener" data-action="click->modal#open">Select User</button>
      <%= f.hidden_field :user, data: { modal_target: "output" } %>
      <%= render partial: "users_modal", locals: {:users => @users} %>
      <div class="task-list">
        <% tasks.each do |task| %>
          <%= render partial: "task_button", :locals => { :task => task, :selected_date => selected_date } %>
        <% end %>
      </div>
    <% end %>
  </div>
</turbo-frame>