<turbo-frame id="turbo-week">
  <% flash.each do |type, msg| %>
    <div id="msg" class="<%= type %>">
      <%= msg %>
      <span onclick="document.getElementById('msg').remove()">x</span>
    </div>
  <% end %>
  <div class="container">
    <%= render "week", selected_date: selected_date %>
    <%= form_with url: "/task_records", method: :post, id: "new-form" do |f| %>
      <%= f.hidden_field :selected_date, value: selected_date %>
      <%= f.select(:user, users, {prompt: "Select User"}) %>
      <div class="task-list">
        <% tasks.each do |task| %>
          <%= render partial: "task_button", :locals => { :task => task, :selected_date => selected_date } %>
        <% end %>
      </div>
    <% end %>
  </div>
</turbo-frame>