<%# Style button based on status %>
<button class="task-button <%= task.done?(selected_date) ? "done" : "not-done" %>" type="button" name="task" data-value="<%= task.id %>" data-modal-target="opener" data-action="click->modal#open click->input#setValue">
  <%# Hide avatar if task not done %>
  <div class="avatar"> 
    <% if task.done?(selected_date) %>
      <% task.users(selected_date).each do |user| %>
        <%= render partial: "users/avatar", locals: {user: user} %>
      <% end %>
    <% end %>
  </div>
  <%= task.name %>
  <span class="points">
    <%= task.points %>p
  </span>
</button>