<%= form_with url: "/task_records", method: :post, id: "new-form" do |f| %>
  <%= f.select(:user, @users) %>
  <ul class="task-list">
    <% @tasks.each do |task| %>
      <li>
        <button class="task-button <%= task.done? ? "done" : "not-done" %>" type="submit" name="task" value="<%= task.id %>">
          <div class="avatar">OH</div>
          <%= task.name %>
        </button>
      </li>
    <% end %>
  </ul>
<% end %>