<div class="record-card">
  <span class="done-at">
    At: <%= @task_record.done_at.to_s(:short) %>
  </span>
  <span class="task-name">
    <%= @task_record.name %>
  </span>
  <span class="points">
    Points: <%= @task_record.points %>
  </span>
  <span class="username">
    User: <%= link_to @task_record.user.name, @task_record.user %>
  </span>
  <span class="actions">
    Actions: <%= button_to "Delete", @task_record, method: :delete %> <%= button_to "Edit" %>
  </span>
</div>